# STC Jawwy

In [1]:
"""
Here we install libraries that are not installed by default 
Example:  pyslsb
Feel free to add any library you are planning to use.
"""
!pip install pyxlsb

Requirement already satisfied: pyxlsb in c:\users\almal\anaconda3\lib\site-packages (1.0.10)

In [3]:
# Import the required libraries 
"""
Please feel free to import any required libraries as per your needs
"""
import pandas as pd     # provides high-performance, easy to use structures and data analysis tools
import pyxlsb           # Excel extention to read xlsb files (the input file)
import numpy as np      # provides fast mathematical computation on arrays and matrices

# Jawwy dataset
The dataset consists of details about each customer and the movies and/or tv shows watched in addition to the genre. 

You are required to work on task three to build a recommendation engine for our platform to Recommend movies to usesrs that they might be interested inÂ¶

In [6]:
dataframe = pd.read_excel(r"C:\Users\almal\Downloads\stc TV Data Set_T3.xlsb",index_col=0)

In [8]:
# check the data shape
dataframe.shape

(1048575, 5)

In [10]:
# display the first 5 rows 
dataframe.head()

   user_id_maped          program_name  rating      date_ program_genre
0          26138            100 treets       1 2017-05-27         Drama
1           7946                 Moana       1 2017-05-21     Animation
2           7418  The Mermaid Princess       1 2017-08-10     Animation
3          19307  The Mermaid Princess       2 2017-07-26     Animation
4          15860             Churchill       2 2017-07-07     Biography

In [12]:
# describe the numeric values in the dataset
dataframe.describe()

       user_id_maped        rating                          date_
count   1.048575e+06  1.048575e+06                        1048575
mean    1.709266e+04  2.497283e+00  2017-10-04 00:23:20.346183936
min     1.000000e+00  1.000000e+00            2017-03-14 00:00:00
25%     8.253000e+03  1.000000e+00            2017-06-10 00:00:00
50%     1.714900e+04  2.000000e+00            2017-10-14 00:00:00
75%     2.566500e+04  3.000000e+00            2018-01-21 00:00:00
max     3.428000e+04  4.000000e+00            2018-04-30 00:00:00
std     1.003513e+04  1.119837e+00                            NaN

In [14]:
# check if any column has null value in the dataset
dataframe.isnull().any()

user_id_maped    False
program_name     False
rating           False
date_            False
program_genre    False
dtype: bool

In [16]:
df=dataframe.copy()

In [18]:
# we import Visualization libraries 
# you can ignore and use any other graphing libraries 
import matplotlib.pyplot as plt # a comprehensive library for creating static, animated, and interactive visualizations
import plotly #a graphing library makes interactive, publication-quality graphs. Examples of how to make line plots, scatter plots, area charts, bar charts, error bars, box plots, histograms, heatmaps, subplots, multiple-axes, polar charts, and bubble charts.
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [19]:
df.dtypes

user_id_maped             int64
program_name             object
rating                    int64
date_            datetime64[ns]
program_genre            object
dtype: object

In [28]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

#Create User-Item Matrix
user_item_matrix = df.pivot_table(index='user_id_maped', columns='program_name', values='rating').fillna(0)

#Calculate Item Similarity (Program Similarity)
program_similarity = cosine_similarity(user_item_matrix.T)
program_similarity_df = pd.DataFrame(program_similarity, index=user_item_matrix.columns, columns=user_item_matrix.columns)

In [30]:
#Recommend Programs Similar to 'Moana'
def recommend_similar_programs(similarity_df, program_name, num_recommendations=5):
    similar_programs = similarity_df[program_name].sort_values(ascending=False)[1:num_recommendations+1]
    return similar_programs

In [32]:
#Display Top 5 Recommendations for Users Who Watched 'Moana'
recommended_programs = recommend_similar_programs(program_similarity_df, 'Moana')
print("Top 5 Programs Recommended for Users Who Watched 'Moana':")
print(recommended_programs)

Top 5 Programs Recommended for Users Who Watched 'Moana':
program_name
Trolls                                   0.572358
Surf's Up : WaveMania                    0.529424
The Mermaid Princess                     0.493362
The Boss Baby                            0.448557
The Jetsons & WWE: Robo-WrestleMania!    0.438942
Name: Moana, dtype: float64